---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $darkerGray;
  font: 18px/1.4 $hackerBody;
  color: $white;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $hacker;
  color: $conifer;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: $conifer;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $white;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $white;
}

// Specify the color of the selection
::-moz-selection {
  color: $white;
  background: $darkGray;
}
::selection {
  color: $white;
  background: $darkGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 5px;
  background: url(https://cdn.discordapp.com/attachments/472357540273979422/543934542617247745/IMG_0d870fad-6512-46f6-a584-d8c10d013beb.png) no-repeat center bottom;
}

.masthead {	
  padding: 100px 0;
  //text-align: center;
  //border-bottom: 1px solid $gray;
 
  @include mobile {
    text-align: center;
    //margin-top: 20px;
    padding: 30px 0;
  }
}

.site-avatar {
  padding-top: 20px;
  float: none;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;

  @include mobile {
    width: 50px;
    height: 50px;
    float: center;
    padding-top: 50;
    //display: block;
    //margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  //float: left;
  float: center;

  @include mobile {
    float: center;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $white;
  cursor: pointer;
  font-family: $hacker;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
  float: center;
  padding-top: 75px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $white;
  font-size: 16px;

  @include mobile {
    //margin: 3px 0;
    font-size: 0px;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $hacker;
  font-size: 18px;

  @include mobile {
    //float: none;
    //margin-top: 9px;
    //display: block;
    //font-size: 16px;
    font-size: 0px;
  }

  a {
    margin-left: 20px;
    color: $gray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $conifer;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $gray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $white;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 0px solid #ddd;
  border-bottom: 0px solid #ddd;
  background-color: $gray;
}

footer {
  padding: 20px 0;
  text-align: center;
}

.bottom-bar {
  background-color: $conifer;
  text-align: justify;
  color: $black;
  body {
    font-size: 8
  }
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  /*background-color: #111;  Black*/
  background-color: $darkGray;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  font: $hacker;
  text-decoration: none;
  font-size: 20px;
  color: $white;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 25px;

}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
@import "tfo";
