    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Us</h2>
                <p>Task Force Omega is a company that provides military training, security management, and logistical support services to clients worldwide. With its headquarters in the United Kingdom, the company has a global reach and works with a variety of clients, including governments, militaries, private companies, and non-governmental organizations.</p>
            </div>
        </div>
    </section>
