    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Us</h2>
                <p>Task Force Omega is an Xbox One based Milsim community on Ghost Recon Wildlands. We utilise minimal HUD settings, a choice of MOS's and co-ordinate operations as tactically as possible.</p>
                <iframe src="https://mo0tognbq4.execute-api.eu-west-1.amazonaws.com/objective" frameborder="0">
                </iframe>
            </div>
        </div>
    </section>
