    <!-- Forward Operations Section -->
    <section id="forward-operations" class="content-section text-center">
        <div class="forward-operations">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Forward Operations</h2>
                    <p>The forward operations units are composed of four manned fireteams for any standard operations. All those who pass basic training will be put into a forward operations group. The forward operations units consists of reconaisance, intel acquisition, hostage rescue and HVT elimination.</p>
                </div>
            </div>
        </div>
    </section>
