    <!-- Forward Operations Section -->
    <section id="forward-operations" class="content-section text-center">
        <div class="forward-operations">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Forward Operations</h2>
                    <p>Surveying and gathering intelligence on the enemy can take many forms, and TFO aims to cover that broad demographic to the best extent. Forming anything from a forward recon element, understanding the picture of an enemy from afar, to covert HUMINT operations hiding in plain sight, we understand the importance of intelligence to mission success.</p>
                </div>
            </div>
        </div>
    </section>
