    <!-- Download Section -->
    <section id="join-us" class="content-section text-center">
        <div class="join-us">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Careers</h2>
        
                      <p>Above all of that, though, we as a group understand that you play games, Milsims being no exception, to have fun. We pride ourselves on calm professionalism, not forcing you to go through pointless trainings with in-game PT or drill, nor will we pressure you to do something you don't want to. Instead, you'll be held to a high standard as an individual, with cultural integration and attitude being strong principles for us.</p>
                    
                      
                        <p>You'll be more than welcome in the unit, provided that:</p>
                        <ul>
                          <li>You're 18 or older</li>
                          <li>You have a working microphone</li>
                          <li>You're able to attend ops held in evenings, European time, once a week</li>
                        </ul>
                      
                    
                      <p>Onboarding is as simple as being screened by way of a brief, painless form that won't take more than a couple of minutes, and from thereon you'll be able to attend operations at your discretion.</p>


                    <p>If you are interested in joining us as a contractor, use the Discord link below.</p>
                    <a href="https://discord.taskforceomega.co.uk" class="btn btn-default btn-lg">Discord</a>
                </div>
            </div>
        </div>
    </section>
