    <!-- Join Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Join Us</h2>
                    <p>Explore a career at Redshift Logistics by joining us on Discord</p>
                    <a href="https://discord.gg/qAHS8JX" class="btn btn-default btn-lg">Discord</a>
                </div>
            </div>
        </div>
    </section>
