    <!-- Download Section -->
    <section id="join-us" class="content-section text-center">
        <div class="join-us">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Careers</h2>
                    <p>If you are interested in joining us as a contractor, use the discord link below.</p>
                    <a href="https://discord.gg/RWCDRWc" class="btn btn-default btn-lg">Discord</a>
                </div>
            </div>
        </div>
    </section>
