    <!-- Security Section -->
    <section id="logistics" class="content-section text-center">
        <div class="logistics">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Logistics</h2>
                    <p>The logistics units composed of four manned fireteams. The supply unit manages, maintains, and distributes supplies. The transportation unit is responsible for distributing supplies from sourced location to clients.</p>
                </div>
            </div>
        </div>
    </section>
