    <!-- Security Section -->
    <section id="logistics" class="content-section text-center">
        <div class="logistics">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Logistics</h2>
                    <p>The logistics teams manage, maintain and distribute supplies both internally and externally. Our logistics support will enable your business to operate in more remote areas of the world.</p>
                </div>
            </div>
        </div>
    </section>
