    <!-- Security Section -->
    <section id="logistics" class="content-section text-center">
        <div class="logistics">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Logistical Support</h2>
                    <p>Our bread and butter in JTOs, a rigid supply pipeline is often overlooked during mission planning, and that's a gap that TFO is always aiming to fill. Keeping personnel in the fight at any level is something we'll always commit to, and do so in an efficient, professional manner.</p>
                </div>
            </div>
        </div>
    </section>
