    <!-- Security Section -->
    <section id="security" class="content-section text-center">
        <div class="security">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Close Protection & Static Security</h2>
                    <p>Staying pure to the origin of the Private Security Contractors that we loosely base ourselves off of, many forms of security are the backbone of what we pride ourselves on. We strive to provide an adept and flexible security force.</p>
                </div>
            </div>
        </div>
    </section>
