    <!-- Security Section -->
    <section id="security" class="content-section text-center">
        <div class="security">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Security</h2>
                    <p>We offer security management consulting, security training for staff, armed escort and information services. Task Force Omega will provide you with a peace of mind that your business operations remain unhindered.</p>
                </div>
            </div>
        </div>
    </section>
