    <!-- Security Section -->
    <section id="security" class="content-section text-center">
        <div class="security">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Security</h2>
                    <p>The security units are composed of three manned fireteams with intel from our headquarters. The security unit is mainly responsible for maintaining base checkpoints, protecting high class personnel and VIPs.</p>
                </div>
            </div>
        </div>
    </section>
